@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

html{
  font-family: 'Roboto', sans-serif;
  font-size: 10px
}

/*Variables*/
:root{
    --background-color: linear-gradient(120deg, #37393b, #2e3032);
    --light-font-color: #b9bbc2;
    --shadow-normal:
            7px 5px 10px #2b2d2f,
            -7px -5px 10px #3b3d3f;
    --shadow-inset:
            inset 7px 5px 10px #2b2d2f,
            inset -7px -5px 10px #3b3d3f;
    --shadow-normal-light:
            7px 5px 10px rgba(0,0,0,.1),
            -7px -5px 10px rgba(255, 255, 255, 0.5);
    --shadow-inset-light:
            inset 7px 5px 10px rgba(0,0,0,.1),
            inset -7px -5px 10px rgba(255, 255, 255, 0.5);;
}

a{
  text-decoration: none !important;
  color: var(--light-font-color);
  transition: color .5s;
}
a:hover{
  color: #c92b7d !important;
}

p{
  font-size: 1.6rem;
  font-weight: 300;
}
/*Global*/
img{
  width: 80%;
}

.section-heading {
  text-transform: uppercase;
  font-size: 2rem;
}


/*Header*/
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand{
  color: #fff;
  font-weight: 300;
  font-size: 3.6rem;
  letter-spacing: 2px;
}

.nav-brand span{
  color: #c92b7d;
  transition: color .5s ease-in-out;
}

.nav-brand:hover span {
  color: #fff;
}

.menu-toggler{
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  display: none;
}


.nav-list{
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
  z-index: 999;
  transition: top .5s ease-in-out;
}

nav.active .nav-list{
  top: 0;
}

.nav-link{
  letter-spacing: 2px;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-normal);
  border-radius: 2rem;
}
.nav-link:hover,
.nav-link:focus{
  box-shadow: var(--shadow-inset);
}



/*Hero*/
.hero {
  width: 100%;
  height: 65vh;
  background: var(--background-color);
  overflow: hidden;
}

.main-content{
  color: var(--light-font-color);
}

.main-heading{
  font-size: 5rem;
}

/*Closer Look*/
.light-bg{
  background: #dae1eb;
}

.btn-soft{
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.btn-soft.light{
  color: #000;
  box-shadow: var(--shadow-normal-light);
}


.btn-soft.light:hover{
  box-shadow: var(--shadow-inset-light);
}

/*sharp contrast*/
.dark-bg{
  background: var(--background-color);
  color: var(--light-font-color);
}

.btn-soft.dark{
  box-shadow: var(--shadow-normal);
}

.btn-soft.dark:hover,
.btn-soft.dark:focus{
  box-shadow: var(--shadow-inset);
}

/* features */
.feature-item{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-normal-light);
}

.feature-item:hover{
  box-shadow: var(--shadow-inset-light);
}

.feature-item .item-icon{
  margin-right: 2rem;
  font-size: 3.5rem;
  color: #c92b7d;
}

.feature-item .item-text h3{
  color: #313131;
  margin-bottom: 1.2rem;
}

/*Footer*/
footer h4{
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

footer a{
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
.main-heading{
  margin-top: 7rem;
}
.menu-toggler{
  display: block;
}

nav.active .menu-toggler{
  position: fixed;
}

}

@media screen and (min-width: 768px) {
.main-heading{
  margin-top: 15rem;
}

.section-heading {
  font-size: 3rem;
}

.nav{
  height: 8.6rem;
  }

.nav-list{
  position: initial;
  top: initial;
  left: initial;
  height: initial;
  width: initial;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
}
.nav-item{
  margin: 0 0 0 1rem;
} 
.nav-item:nth-child(1) {
  margin-left: 0;
}

}


@media (min-width: 992px) {
  /*Footer*/
footer h4{
  font-size: 2rem;
}

footer a{
  font-size: 1.6rem;
}

.nav-item{
  margin: 0 0 0 2rem;
}
}

@media (min-width: 1200px){
  .main-content img{
    width: 40%;
  }
}